/* MOBILE NAVBAR */
.mobile-nav {
 background-color: #0c1f30;
 position: sticky;
 top: 0;
 width: 100%;
 z-index: 9998;
}

.sidebar {
 position: fixed;
 z-index: 1000;
 top: 15%;
 bottom: 0;
 right: 0;
 left: 0;
 background-color: #0c1f30;
 visibility: hidden;
 transform: translate(-100%);
 transition:  0.3s;
 opacity: 0;
}

.sidebar.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.sidebar-link {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Neuemachina,sans-serif;
  color: #e8eaed;
  line-height: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.sidebar-link-hover {
  background-position: -5px, 10px;
  background-size: 250px 250px, auto;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 1rem;
}

.id {
  cursor: pointer;
  position: absolute;
  top: 0;
  font-family: cursive;
  color: #e8eaed;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1px;
  opacity: 0;
  transition: all 0.3s linear;
}

.id-hover {
  margin-left: -0.9rem;
  opacity: 1;
}
/* END OF MOBILE NAVBAR*/


/* DESKTOP NAVBAR*/
.navbar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  border-bottom: 0.01rem outset rgb(232, 234, 237, 0.5);
}
.topbar {
  align-items: center;
  display: flex !important;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  cursor: pointer;
  opacity: .8;
  transition: .3s;
  font-family: Neuemachina,sans-serif;
  color: #f3f3f3;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -.01em;  
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
    position: static;
  background-image: linear-gradient(119deg,#ec9228,#b547f9);
  font-family: Neuemachina,sans-serif;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 500;
  -webkit-text-fill-color: transparent;
}

.img {
  position: absolute;
  transform: translate(250%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;
}

.img-hover {
  top: 0;
  opacity: 1;
  transform: translate(250%, -10%);
  visibility: visible;
}