body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lavender;
  margin: 0;
  width: 100%;
  display: block;
}

* {
  
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}
p {
  font-size: 1rem !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  color: white;
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  padding: 0.4rem;
  text-transform: capitalize;
  border-radius: 15px;
  border: 0.07rem solid hsl(136, 65%, 51%);
  transition: 0.2s !important;
  
}

.image-text {
  background-position: 200px, 20px;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}